<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmailValidationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InternationalTelephoneValidationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TelephoneFormattingSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.data-8.co.uk/emailvalidation.asmx" binding="basicHttpBinding" bindingConfiguration="EmailValidationSoap" contract="EmailValidationWS.EmailValidationSoap" name="EmailValidationSoap" />
            <endpoint address="https://webservices.data-8.co.uk/internationaltelephonevalidation.asmx" binding="basicHttpBinding" bindingConfiguration="InternationalTelephoneValidationSoap" contract="TelValidationWS.InternationalTelephoneValidationSoap" name="InternationalTelephoneValidationSoap" />
            <endpoint address="https://webservices.data-8.co.uk/telephoneformatting.asmx" binding="basicHttpBinding" bindingConfiguration="TelephoneFormattingSoap" contract="TelFormattingWS.TelephoneFormattingSoap" name="TelephoneFormattingSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>