<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmailValidationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EmailValidationSoap1" />
                <binding name="InternationalTelephoneValidationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InternationalTelephoneValidationSoap1" />
                <binding name="TelephoneFormattingSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TelephoneFormattingSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EmailValidationSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="InternationalTelephoneValidationSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="TelephoneFormattingSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.data-8.co.uk/emailvalidation.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmailValidationSoap"
                contract="EmailValidationWS.EmailValidationSoap" name="EmailValidationSoap" />
            <endpoint address="https://webservices.data-8.co.uk/emailvalidation.asmx"
                binding="customBinding" bindingConfiguration="EmailValidationSoap12"
                contract="EmailValidationWS.EmailValidationSoap" name="EmailValidationSoap12" />
            <endpoint address="https://webservices.data-8.co.uk/internationaltelephonevalidation.asmx"
                binding="basicHttpBinding" bindingConfiguration="InternationalTelephoneValidationSoap"
                contract="TelValidationWS.InternationalTelephoneValidationSoap"
                name="InternationalTelephoneValidationSoap" />
            <endpoint address="https://webservices.data-8.co.uk/internationaltelephonevalidation.asmx"
                binding="customBinding" bindingConfiguration="InternationalTelephoneValidationSoap12"
                contract="TelValidationWS.InternationalTelephoneValidationSoap"
                name="InternationalTelephoneValidationSoap12" />
            <endpoint address="https://webservices.data-8.co.uk/telephoneformatting.asmx"
                binding="basicHttpBinding" bindingConfiguration="TelephoneFormattingSoap"
                contract="TelFormattingWS.TelephoneFormattingSoap" name="TelephoneFormattingSoap" />
            <endpoint address="https://webservices.data-8.co.uk/telephoneformatting.asmx"
                binding="customBinding" bindingConfiguration="TelephoneFormattingSoap12"
                contract="TelFormattingWS.TelephoneFormattingSoap" name="TelephoneFormattingSoap12" />
        </client>
    </system.serviceModel>
</configuration>